@charset "UTF-8";

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  color:#3B3B3B;
}
body{
  position:relative;
  width:100%;
  height:100%;
}
header{
  position:absolute;
  display:flex;
  width:100%;
  height:55px;
  background-color:#918F89;
  justify-content:center;
  align-items:center;
}
header nav ul{
  list-style:none;
  font-size:23px;
}
h1{
  width: 68px;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
  line-height:1;
}
h2{
  font-size:25px;
  text-align:center;
}
#intro{
  width:100%;
  height:0;
  padding-top:187.2%;
  background-image:url("./images/AdobeStock_199226712.png");
  background-repeat:no-repeat;
  background-size:contain;
}
.square:nth-of-type(1) {
  position:absolute;
  top:203px;
  left:0;
  height:77px;
  width:136px;
  background-color:rgba(255,255,255,0.6);
}
.square:nth-of-type(2) {
  position:absolute;
  top:292px;
  left:0;
  width: 228px;
  height: 77px;
  background-color:rgba(255,255,255,0.6);
}
.square:nth-of-type(3) {
  position:absolute;
  top:381px;
  left:0;
  width: 173px;
  height: 77px;
  background-color:rgba(255,255,255,0.6);
}
#intro p{
  position:absolute;
  top:215px;
  left:54px;
  width: 167px;
  height: 227px;
  font-size:39px;
  letter-spacing: 1.95px;
  color: #3B3B3B;
  font-family:"Noto Sans,Thin";
  letter-spacing:0.76px;
  line-height:2.23;
}
#teian::after{
  content:"";
  display:block;
  width:76.266666%;
  margin-left:auto;
  margin-right:auto;
  padding-top:70.933333%;
  background-image:url("./images/AdobeStock_189860956.png");
  background-repeat:no-repeat;
  background-size:contain;
}
#teian h2{
  margin-top:66px;
  margin-bottom:36px;
}
#teian p{
  height:229px;
  margin-bottom:30px;
  font-size:14px;
  text-align:center;
  line-height:2.5;
}
#style h2{
  margin-top:140px;
  margin-bottom:30px;
}
#style .pc, #news .pc{
  display:none;
}
#style .sp{
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:30px;
  width:95.733333%;
  height:auto;
}
#style ul{
  display:flex;
  justify-content:center;
}
#style ul li{
  width:6px;
  height:6px;
  list-style:none;
  background-color:rgba(165,165,165,0.3);
  border-radius:50%;
}
#style ul li:not(:last-of-type){
  margin-right:4px;
}
#style ul li a{
  display:block;
  width:100%;
  height:100%;
}
#style ul li:nth-of-type(2){
  background-color:#A5A5A5;
  border-radius:50%;
}
#news h2{
  margin-top:140px;
  margin-bottom:85px;
}
#news section{
  position:relative;
  width:76.266667%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:30px;
  background-color:#000;
}
#news section::before{
  content:"";
  display:block;
  width:100%;
  padding-top:96.503497%;
}
#news .sp{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  opacity:0.5;
}
#news p{
  position:absolute;
  top:0;
  left:0;
  display:flex;
  width:100%;
  height:100%;
  justify-content:center;
  align-items:center;
  font-size:17px;
  color:#FFF;
}
#news > p{
  position:static;
  font-size:21px;
  color:#3B3B3B;
}
#contact{
  padding-bottom:454px;
}
#contact h2{
  margin-top:140px;
  margin-bottom:65px;
}
#contact form{
  display:block;
  width:76.266667%;
  margin-left:auto;
  margin-right:auto;
}
#contact form input{
  width:100%;
  margin-bottom:20px;
  padding:7px 0 8px 17px;
  border:0.5px solid #707070;
  border-radius:11px;
  font-size:14px;
}
#contact form textarea{
  width:100%;
  margin-bottom:35px;
  padding:11px 0 125px 17px;
  border:0.5px solid #707070;
  border-radius:11px;
  font-size:14px;
}
#contact form input[type="submit"]{
  display:block;
  width:174px;
  height:49px;
  margin-left:auto;
  margin-right:auto;
  padding:0;
  border:none;
  border-radius:25px;
  background-color:#D1D1D1;
  font-size:18px;
  text-align:center;
}
footer{
  position:absolute;
  display:flex;
  bottom:0;
  width:100%;
  height:276px;
  background-color:#918F89;
  justify-content:center;
}
footer h1{
  position:absolute;
  bottom:150px;
  font-size:16px;
}
footer p{
  position:absolute;
  bottom:78px;
  font-size:10px;
  color:#FFF;
}
footer nav ul{
  display:none;
}

@media screen and (min-width: 769px){
  body{
    width:100%;
  }
  header{
      width:100%;
      height:60px;
      background-color:#FFF;
    }
  header h1{
      position:absolute;
      left:88px;
      width: 62px;
      font-size:16px;
      color:#918F89;
      text-align:center;
      line-height:1;
    }
  header nav ul{
    font-size:16px;
  }
  header nav ul li:nth-of-type(1){
    position:absolute;
    top:28px;
    right:380px;
  }
  header nav ul li:nth-of-type(2){
    position:absolute;
    top:28px;
    right:234px;
  }
  header nav ul li:nth-of-type(3){
    position:absolute;
    top:28px;
    right:89px;
  }
  #intro{
    background-image:url("./images/AdobeStock_199226712_2.png");
    background-size:contain;
    padding-top:57.890625%;

  }
  #intro p{
    position:absolute;
    top:295px;
    left:88px;
    width: 554px;
    height: 82px;
    font-size:60px;
    letter-spacing:1.95px;
    color:#918F89;
    letter-spacing:0.76px;
    line-height:1;
  }
  .square:nth-of-type(1) {
    position:absolute;
    top:264px;
    left:0;
    height:136px;
    width:702px;
    background-color:rgba(255,255,255,0.8);
  }
  .square:nth-of-type(2),  .square:nth-of-type(3) {
    display:none;
  }
  #teian h2{
    position:absolute;
    margin-top:26.796875%;
    left:54.84375%;
    font-size:25px;
    }
  #teian p{
    position:absolute;
    left:54.84375%;
    height:150px;
    margin-top:32.1875%;
    margin-bottom:0;
    text-align:left;
    font-size:12px;
    line-height:2.5;
  }
  #teian p br:first-of-type,#teian p br:last-of-type{
    display:none;
  }
  #teian::after{
    content:"";
    display:block;
    position:absolute;
    left:6.875%;
    width:42.5%;
    margin-top:11.09375%;
    padding-top:39.0625%;
    background-image:url("./images/AdobeStock_189860956@2x.png");
    background-repeat:no-repeat;
    background-size:contain;
  }
  #style {
    margin-top:65.78125%;
  }
  #style h2{
    margin-top:15.625%;
    margin-bottom:50px;
  }
  #style .sp, #news .sp{
    display:none;
  }
  #style .pc{
    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
    width:75.3125%;
    height:auto;
  }
  #news h2{
    margin-top:210px;
    margin-bottom:50px;
  }
  #news div{
    display:flex;
    width:100%;
    margin-left:calc((100% - 86.09375%) / 2);
    margin-right:calc((100% - 86.09375%) / 2);
  }
  #news section{
    position:relative;
    width:26.09375%;
    height30.234375%;
    margin-left:0;
    margin-right:3.90625%;
    margin-bottom:0;
    background-color:#000;
  }
  #news section::before{
    content:"";
    display:block;
    width:100%;
    padding-top:96.503497%;
  }
  #news .pc{
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    top:0;
    left:0;
    opacity:0.5;
  }
  #news > p{
    margin-top:3.046875%;
  }
  #contact h2{
    margin-top:221px;
    margin-bottom:60px;
  }
  #contact form{
    width:36.171875%;
  }
  #contact form input{
    margin-bottom:30px;
    font-size:12px;
  }
  #contact form textarea{
    margin-bottom:60px;
    font-size:12px;
  }
  #contact form input[type="submit"]{
    width:111px;
    height:35px;
    background-color:#707070;
    color:#FFF;
    font-size:15px;
  }
  footer{
    height:284px;
  }
  footer h1{
    top:116px;
    left:227px;
    font-size:22px;
  }
  footer p{
    bottom:35px;
  }
  footer nav ul{
    display:flex;
    position:absolute;
    top:133px;
    left:56.71875%;
    width:100%;
    list-style:none;
    font-size:18px;
  }
  footer nav ul li{
    color:#FFF;
    margin-right:7.8125%;
  }
}
